service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document=**} {
      allow create: if request.resource.id == request.auth.uid;
    }
    match /users/{user} {
      allow read, write: if user == request.auth.uid;
    }
    match /items/{document=**} {
      allow create: if request.resource.data.uid == request.auth.uid;
    }
    match /items/{item} {
      allow read, write: if resource.data.uid == request.auth.uid;
    }
  }
}
