
body {
  @apply font-body;
  @apply text-soft;
  @apply bg-contrast;
}
svg {
  margin-right: 2px;
}
.title,
.text {
  a {
    @apply text-color;
    &:hover {
      @apply underline;
    }
  }
}
.text {
  h1 {
    @apply m-2;
    font-weight: 500;
    font-size: 1.5rem;
  }
  h2 {
    @apply m-2;
    font-weight: 500;
    font-size: 1.25rem;
  }
  h3 {
    @apply m-2;
    font-weight: 500;
    font-size: 1.1rem;
  }
  p,
  ul {
    @apply m-2;
  }
  ul li {
    @apply ml-4;
    @apply list-disc;
  }
  ol li {
    @apply ml-8;
    @apply list-decimal;
  }
  blockquote {
    @apply rounded;
    @apply px-2;
    @apply py-1;
    background-color: #0001;
  }
  pre, :not(pre) > code {
    @apply rounded;
    @apply px-2;
    @apply py-1;
    background-color: #0001;
  }
  table {
    width: 100%;
    td {
      @apply p-2;
    }
    tbody tr:nth-child(2n+1) {
      background-color: #0001;
    }
  }
}
