:root {
  --soft: #f0f0f0;
  --hard: #d0d0d0;
  --color: #555555;
  --contrast: #222222;
  --background: none;
}
html,
body {
    height: 100%;
}
body {
  @apply font-body;
  @apply text-soft;
  @apply bg-contrast;
  @apply flex;
  @apply flex-col;
  background-image: var(--background);
  background-blend-mode: color-burn;
  background-attachment: fixed;
}
svg {
  margin-right: 2px;
}
div.body.text {
  h1 {
    @apply m-2;
    font-weight: 400;
    font-size: 1.8rem;
  }
  h2 {
    @apply m-2;
    font-weight: 500;
    font-size: 1.5rem;
  }
  h3 {
    @apply m-2;
    font-weight: 600;
    font-size: 1.25rem;
  }
  h4 {
    @apply m-2;
    font-weight: 700;
    font-size: 1.1rem;
  }
  p,
  ul {
    @apply m-2;
  }
  ul li {
    @apply m-1;
    @apply list-disc;
    @apply list-inside;
  }
  ol li {
    @apply m-1;
    @apply ml-10;
    @apply list-decimal;
  }
  blockquote {
    @apply px-2;
    @apply py-1;
    background-color: #fff8;
  }
  pre {
    @apply px-2;
    @apply py-1;
    background-color: #fff8;
    code, * {
      @apply font-mono;
    }
  }
  :not(pre) > code {
    @apply px-1;
    @apply rounded;
    background-color: #fff;
    @apply font-mono;
  }
  table {
    width: 100%;
    td {
      @apply p-2;
    }
    tbody tr:nth-child(2n + 1) {
      background-color: #0001;
    }
  }
}
.title,
.text {
  a {
    @apply text-hard;
    &:hover {
      @apply underline;
    }
  }
}
div.note.solid {
  > div.text,
  > div.title {
    a {
      @apply text-color;
    }
  }
}
